:root {
    --primary-blue: #2a3c82;
    --secondary-orange: #f26522;
    --light-gray: #f5f5f5;
    --dark-gray: #333;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}